.basis {
  background-color: #e3eafe;
  font-family: "Roboto", serif;
  font-weight: 900;
  margin: 0;
  max-width: 1980px;
  max-height: 1080px;
}

.header {
  background-image: url(images/nav/pic-bgr.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 839px;
  max-width: 100%;
  padding: 0 130px 0 130px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 131px;
  padding-top: 70px;
}

.nav__link {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.nav__link:first-child {
  height: 21px;
  padding-right: 60px;
}

.nav__link:nth-child(2) { padding-right: 60px; }

.nav__link:nth-child(3) { padding-right: 60px; }

.nav__link:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.burger {
  background-color: #fff;
  display: none;
  height: 3px;
  margin: 0;
  position: relative;
  width: 23px;
}

.burger::before {
  background-color: #fff;
  content: " ";
  height: 3px;
  margin: 0;
  position: absolute;
  top: 8px;
  width: 23px;
}

.burger::after {
  background-color: #fff;
  bottom: 8px;
  content: " ";
  height: 3px;
  margin: 0;
  position: absolute;
  width: 23px;
}

.introduce {
  color: #e1e6e9;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: flex-end;
  padding-bottom: 419px;
}

.introduce__title {
  align-self: flex-end;
  font-size: 40px;
  margin-bottom: 11px;
  margin-right: 0;
  margin-top: 0;
}

.introduce__paragraph {
  align-self: flex-end;
  font-size: 20px;
  margin: 0;
  margin-bottom: 39px;
  max-width: 283px;
  text-align: right;
}

.button {
  background-color: #ffda45;
  border: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
  cursor: pointer;
  font-family: "Roboto", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 55px;
  outline: none;
  text-align: center;
  width: 200px;
}

.button_mediumvioletred {
  align-self: flex-end;
  background-color: #e0036f;
  color: #fff;
  cursor: pointer;
}

.tickets {
  align-items: center;
  background-color: #e3eafe;
  display: flex;
  flex-direction: column;
  padding-top: 55px;
  padding-bottom: 55px;
}

.title {
  color: #585858;
  font-weight: 500;
  font-size: 30px;
}

.tickets__title {
  margin: 0;
  margin-bottom: 40px;
  max-height: 70px;
  max-width: 621px;
  text-align: center;
}

.tickets__paragraph {
  color: #263b83;
  font-weight: 900;
  font-size: 30px;
  margin: 0;
  margin-bottom: 33px;
  max-height: 35px;
  min-width: 185px;
}

.tickets__button {
  border: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
  cursor: pointer;
  margin-bottom: 10px;
}

.tickets__reserve {
  background-color: #e3eafe;
  border-bottom: 3px solid #ffda45;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #585858;
  cursor: pointer;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 900;
  outline: none;
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 13px;
}

.participants {
  align-items: center;
  background-color: #405dbb;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  max-height: 327px;
  max-width: 1980px;
  padding: 0 130px 0 130px;
}

.wrap-info {
  color: #fff;
  font-weight: 900;
  padding-top: 118px;
}

.wrap-info__title {
  font-size: 26px;
  margin: 0 0 20px 0;
  max-width: 227px;
}

.wrap-info__paragraph {
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 108px;
  padding-right: 43px;
  margin: 0;
  max-height: 46px;
  max-width: 430px;
  text-align: left;
}

.wrap-info__pic {
  max-height: 327px;
  max-width: 464px;
  padding-right: 43px;
}

.speakers {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 1980px;
  padding: 0 130px 0 130px;
}

.speakers__title {
  text-align: center;
  margin-bottom: 75px;
  margin-top: 0;
  max-width: 451px;
}

.photos {
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 82px;
  max-width:1150px;
}

.photos__item:first-child {
  height: 270px;
  margin-bottom: 65px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(2) {
  height: 270px;
  margin-bottom: 65px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(3) {
  height: 270px;
  margin-bottom: 65px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(4) {
  height: 270px;
  margin-bottom: 65px;
  margin-right: 0;
  width: 270px;
}

.photos__item:nth-child(5) {
  height: 270px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(6) {
  height: 270px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(7) {
  height: 270px;
  margin-right: 18px;
  width: 270px;
}

.photos__item:nth-child(8) {
  height: 270px;
  margin-right: 0;
  width: 270px;
}

.photos__item:nth-child(9) { visibility: hidden; }

.photos__item:nth-child(10) { visibility: hidden; }

.photos__item:nth-child(11) { visibility: hidden; }

.footer {
  background-color: #0e1e71;
  color: #e1e6e9;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  max-height: 250px;
  max-width: 1980px;
  padding: 0 130px 0 130px;
}

.location {
  display: flex;
  flex-direction: row;
  color: #e1e6e9;
  padding-right: 712px;
  padding-top: 48px;
}

.location__pic {
  height: 22px;
  margin-right: 7px;
  width: 15px;
}

.contacts {
  display: flex;
  flex-direction: row;
}

.phone {
  display: flex;
  flex-direction: column;
  margin-right: 18px;
  padding-top: 48px;
}

.phone__main {
  font-size: 16px;
  margin-bottom: 8px;
  max-height: 21px;
  max-width: 155px;
}

.phone__additional {
  font-size: 16px;
  max-height: 21px;
  max-width: 155px;
  padding-bottom: 152px;
}

.contacts__img-one {
  height: 52px;
  margin-right: 18px;
  padding-top: 44px;
  width: 52px;
}

.contacts__img-two {
  height: 43px;
  padding-top: 48px;
  width: 52px;
}

@media screen and (max-width: 2560px) {
  .basis {
    background-color: #e3eafe;
    font-family: "Roboto", serif;
    font-weight: 900;
    margin: 0;
    max-width: 2560px;
    max-height: 1080px;
  }
  
  .header {
    background-image: url(images/nav/pic-bgr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 839px;
    max-width: 100%;
    padding: 0 130px 0 130px;
  }

  .participants {
    align-items: center;
    background-color: #405dbb;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 90px;
    max-height: 327px;
    max-width: 2560px;
    padding: 0 130px 0 130px;
  }

  .speakers {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 2560px;
    padding: 0 130px 0 130px;
  }
  
  .footer {
    background-color: #0e1e71;
    color: #e1e6e9;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    justify-content: space-between;
    max-height: 250px;
    max-width: 2560px;
    padding: 0 130px 0 130px;
  }

  .location {
    color: #e1e6e9;
    display: flex;
    flex-direction: row;
    padding-right: 360px;
    padding-top: 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .basis {
    background-color: #e3eafe;
    font-family: "Roboto", serif;
    font-weight: 900;
    margin: 0;
    max-width: 1024px;
    min-width: 768px;
  }

  .header {
    padding: 0 60px 0 60px;
  }

  .nav__link { font-size: 14px; }

  .introduce__title { font-size: 30px; }
  
  .introduce__paragraph { font-size: 18px; }

  .title { font-size: 18px; }

  .tickets__title { margin-bottom: 20px; }

  .button { 
    font-size: 14px;
    height: 40px;
    width: 150px; 
  }

  .participants {
    align-items: center;
    background-color: #405dbb;
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
    max-height: 327px;
    padding: 0 60px 0 60px;
  }
  
  .wrap-info {
    color: #fff;
    font-weight: 900;
    padding-top: 20px;
  }
  
  .wrap-info__title {
    font-size: 18px;
    margin: 0 0 20px 0;
    max-width: 157px;
  }
  
  .wrap-info__paragraph {
    font-size: 14px;
    font-weight: 900;
    padding-bottom: 50px;
    padding-right: 25px;
    margin: 0;
    max-height: 80px;
    max-width: 250px;
    text-align: left;
  }
  
  .wrap-info__pic {
    max-height: 254px;
    max-width: 254px;
    padding-right: 43px;
  }

  .speakers {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 60px 0 60px;
  }
  
  .speakers__title {
    margin-bottom: 20px;
    margin-top: 0;
    text-align: center;
  }
  
  .photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 41px;
  }

  .photos__item:first-child {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(2) {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(3) {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(4) {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(5) {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(6) {
    height: 270px;
    margin-bottom: 65px;
    margin-right: 20px;
    width: 270px;
  }
  
  .photos__item:nth-child(7) {
    height: 270px;
    margin-right: 50px;
    width: 270px;
  }
  
  .photos__item:nth-child(8) {
    height: 270px;
    margin-right: 0;
    width: 270px;
  }
  
  .photos__item:nth-child(9) { visibility: hidden; }
  
  .photos__item:nth-child(10) { visibility: hidden; }
  
  .photos__item:nth-child(11) { visibility: hidden; }

  .footer {
    background-color: #0e1e71;
    color: #e1e6e9;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    justify-content: space-between;
    max-height: 250px;
    max-width: 1024px;
    padding: 0 60px 0 60px;
  }

  .location {
    display: flex;
    flex-direction: row;
    color: #e1e6e9;
    padding-right: 40px;
    padding-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .basis {
    background-color: #e3eafe;
    font-family: "Roboto", serif;
    font-weight: 900;
    margin: 0;
    max-width: 320px;
    max-height: 1635px;
  }

  .header {
    background-image: url(images/nav/pic-bgr.jpg);
    background-size: cover;
    max-height: 334px;
    padding: 0 30px;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 33px;
  }

  .nav__link { display: none; }

  .burger { display: block; }

  .introduce {
    color: #e1e6e9;
    display: flex;
    flex-direction: column;
    font-weight: 900;
    justify-content: center;
    padding-bottom: 41px;
  }

  .introduce__title {
    align-self: center;
    font-size: 20px;
    margin-bottom: 20px;
    max-height: 70px;
    max-width: 263px;
    text-align: center;
  }

  .introduce__paragraph {
    align-self: center;
    font-size: 15px;
    margin: 0 0 109px 0;
    max-width: 212px;
    text-align: center;
  }

  .button {
    background-color: #ffda45;
    border: 0;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .25);
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    height: 45px;
    outline: none;
    text-align: center;
    width: 240px;
  }

  .button_mediumvioletred {
    align-self: center;
    background-color: #e0036f;
    color: #fff;
    font-size: 15px;
  }

  .tickets {
    align-items: center;
    background-color: #e3eafe;
    display: flex;
    flex-direction: column;
    max-height: 295px;
    max-width: 320px;
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .title {
    color: #585858;
    font-weight: 500;
    font-size: 20px;
  }

  .tickets__title {
    margin: 0;
    margin-bottom: 15px;
    max-width: 250px;
    max-height: 92px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
  }

  .tickets__paragraph {
    color: #263b83;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 19px 0;
    text-align: center;
  }

  .tickets__button { margin-bottom: 28px; }

  .tickets__reserve {
    background-color: #e3eafe;
    border-bottom: 3px solid #ffda45;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #585858;
    font-size: 20px;
    font-weight: 900;
    outline: none;
    padding-bottom: 13px;
  }

  .participants {
    align-items: center;
    background-color: #405dbb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 33px;
    max-height: 442px;
    max-width: 320px;
  }

  .wrap-info {
    color: #fff;
    font-weight: 900;
    margin: 0;
    padding-top: 10px;
    padding-left: 0;
  }

  .wrap-info__title {
    align-self: center;
    font-size: 20px;
    margin: 0;
    margin-bottom: 4px;
    max-height: 60px;
    max-width: 152px;
    padding-left: 85px;
    padding-right: 83px;
    text-align: center;
  }

  .wrap-info__paragraph {
    align-self: center;
    font-size: 10px;
    padding-bottom: 0;
    padding-left: 52px;
    padding-right: 53px;
    margin: 0 0 21px 0;
    max-height: 60px;
    max-width: 215px;
    text-align: center;
  }

  .wrap-info__pic {
    align-self: center;
    margin: 0 0 28px 0;
    max-height: 222px;
    max-width: 240px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .button__request {
    margin-bottom: 38px;
  }

  .speakers {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .speakers__title {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 28px;
    margin-top: 0;
    max-width: 199px;
  }

  .photos {
    margin-bottom: 80px;
    padding: 0 calc(30px - 2 * (30px - (30 * 100% / 320)));
  }

  .photos__item:first-child {
    align-self: center;
    height: 260px;
    margin: 0 0 20px 0;
    width: 260px;
  }

  .photos__item:nth-child(2) { display: none; }

  .photos__item:nth-child(3) { display: none; }

  .photos__item:nth-child(4) { display: none; }

  .photos__item:nth-child(5) { display: none; }

  .photos__item:nth-child(6) { display: none; }

  .photos__item:nth-child(7) { display: none; }

  .photos__item:nth-child(8) { display: none; }

  .photos__item:nth-child(9) {
    height: 10px;
    margin-right: 18px;
    padding-left: 97px;
    visibility: visible;
    width: 10px;
  }

  .photos__item:nth-child(10) {
    height: 10px;
    margin-right: 18px;
    visibility: visible;
    width: 10px;
  }

  .photos__item:nth-child(11) {
    height: 10px;
    visibility: visible;
    width: 10px;
  }

  .footer {
    background-color: #0e1e71;
    color: #e1e6e9;
    display: flex;
    flex-direction: row;
    font-size: 8px;
    font-style: normal;
    font-weight: 900;
    max-height: 92px;
    max-width: 320px;
    padding: 0 35px;
  }

  .location {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    color: #e1e6e9;
    margin-right: 15px;
    padding-right: 0;
    padding-top: 16px;
  }

  .location__pic {
    height: 9px;
    margin-right: 3px;
    width: 6px;
  }

  .phone {
    display: flex;
    flex-direction: column;
    margin-right: 7px;
    padding-top: 16px;
  }

  .phone__main {
    font-size: 8px;
    margin-bottom: 3px;
    max-height: 9px;
    max-width: 69px;
  }

  .phone__additional {
    font-size: 8px;
    max-height: 9px;
    max-width: 69px;
    padding-bottom: 55px;
  }

  .contacts__img-one {
    height: 20px;
    margin-right: 5px;
    padding-top: 15px;
    width: 20px;
  }

  .contacts__img-two {
    height: 16px;
    padding-top: 16px;
    width: 20px;
  }
}